@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

.linear-gradient {
    background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
}

.radial-gradient {
    background: radial-gradient(2900.76% 50.13% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);
}

.texto-gradient {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(269deg, #C0B7E8 -3.72%, #8176AF 82.17%);
}



